---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="flex-1 flex text-center midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Meet Our Team
            </Title>
            <Paragraph className="mt-8">
                Our journey began with the goal of offering homeowners a simpler way to sell their properties, without the hassle of traditional listings. We know the Orlando market inside and out, providing quick, fair offers.
            </Paragraph>
            <div class="pt-8 grid grid-cols-3 items-center gap-4 max-w-3xl md:max-w-[none]">
                <Info image="/images/1.webp"  description="Founder & CEO" title="Name" />
                <Info image="/images/1.webp"  description="Gerente de Operaciones" title="Name" />
                <Info image="/images/1.webp" description="Especialista en Ventas" title="Name" />
            </div>
        </div>
    </Container>
</section>