---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="features">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title> Sell Your Orlando Property Fast & Stress-Free </Title>
      <Paragraph className="mt-8">
        We purchase properties directly, with no hidden fees or agent
        commissions. Whether your home needs repairs, has been inherited, or
        you're facing foreclosure, we offer a hassle-free solution to sell your
        house as-is.
      </Paragraph>
      <Paragraph className="mt-2"> Why Choose Us? </Paragraph>
      <ul class="mt-8 space-y-4 text-heading-3 font-medium">
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Sell As-Is: No repairs or cleaning required.
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Quick Closings: Close in as little as 7 days.
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > No Fees: Zero agent commissions or closing costs.
        </li>
      </ul>
    </div>

    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <img
          src={"/images/image2.webp"}
          alt="banner image"
          width="1240"
          height="1385"
          class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
        />
      </div>
    </div>
  </Container>
</section>
