---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";

const footerSupport = [
    {
        itemText:"Guides",
        itemLink:"#"
    },
    {
        itemText:"FAQ",
        itemLink:"#"
    },
    {
        itemText:"Contact",
        itemLink:"#"
    }
]

const footerCompany = [
    {
        itemText:"About",
        itemLink:"/about"
    },
    {
        itemText:"Blog",
        itemLink:"#"
    },
]
const footerLegal = [
    {
        itemText:"Claim",
        itemLink:"#"
    },
    {
        itemText:"Privacy",
        itemLink:"#"
    },
    {
        itemText:"Terms",
        itemLink:"#"
    }
]
---
<div class="mt-16"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl">
    <Container className="pb-8 relative overflow-auto">
                <div class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative">
            <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
                <div class="h-full">
                    <a href="#" class="relative flex items-center gap-3">
                        <div class="relative  w-20 h-6 overflow-auto flex rounded-xl">
                            <img src={"/logos/logo.webp"} alt="Logo"  />
                        </div>
                        <div class="inline-flex text-lg font-semibold text-heading-1">
                            IBuyOrlando
                        </div>
                    </a>
                    <Paragraph className={"mt-8"}>
                        At  IBuyOrlando, we make selling your property easy with quick, hassle-free solutions tailored to your needs. Contact us and we’ll help you!
                    </Paragraph>
                </div>
            </div>

            <GroupFooterNav>
                <FooterNav title={"Company"} navItems={footerCompany}/>
                <FooterNav title={"Support"} navItems={footerSupport}/>
            </GroupFooterNav>

            <GroupFooterNav>
                <FooterNav title={"Ressources"} navItems={footerLegal}/>
            </GroupFooterNav>

        </div>
    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year"></span> IBuyOrlando. All right reserved
                </div>
            </div>
        </Container>
    </div>
</footer>
